[submodule "SalernOS-Kernel"]
	path = SalernOS-Kernel
	url = https://github.com/Alessandro-Salerno/SalernOS-Kernel/blob/master
[submodule "SalernOS-EFI-Bootloader"]
	path = SalernOS-EFI-Bootloader
	url = https://github.com/Alessandro-Salerno/SalernOS-EFI-Bootloader
[submodule "SalernOS-Buildenv"]
	path = SalernOS-Buildenv
	url = https://github.com/Alessandro-Salerno/SalernOS-Buildenv
[submodule "SalernOS-Emenv"]
	path = SalernOS-Emenv
	url = https://github.com/Alessandro-Salerno/SalernOS-Emenv
